!!!
%html
  %head
    %title Check List
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      - if current_user
        = link_to logout_path do
          = image_tag current_user.avatar, style: 'height: 16px; width: 16px;'
          = "Logout @(#{current_user.handle})"
        = "|"
        = link_to "My Tasks", root_path
      - else
        = link_to "Login", login_path
        = "|"
        = link_to "All Tasks", root_path

      = yield
      %h3= "Tasks for other users"
      %nav
        = link_to "All Users", all_tasks_path
        - User.all.each do |user|
          = " | "
          = link_to user.name, user_tasks_path(user)